/MsSqlToPostgres/.vs/MsSqlToPostgres/DesignTimeBuild
/MsSqlToPostgres/.vs/MsSqlToPostgres/FileContentIndex
/MsSqlToPostgres/.vs/MsSqlToPostgres/v17
/MsSqlToPostgres/.vs/ProjectEvaluation
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/runtimes/win/lib/net8.0
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Azure.Identity.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Bcl.AsyncInterfaces.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Bcl.Cryptography.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Data.SqlClient.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.Caching.Abstractions.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.Caching.Memory.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.Options.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Extensions.Primitives.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.Identity.Client.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Abstractions.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Logging.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Protocols.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Tokens.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Microsoft.SqlServer.Server.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/MsSqlToPostgres.deps.json
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/MsSqlToPostgres.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/MsSqlToPostgres.exe
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/MsSqlToPostgres.pdb
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/MsSqlToPostgres.runtimeconfig.json
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/Npgsql.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.ClientModel.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.Configuration.ConfigurationManager.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.Diagnostics.EventLog.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.IdentityModel.Tokens.Jwt.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.Memory.Data.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/System.Security.Cryptography.Pkcs.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/cs/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/de/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/es/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/fr/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/it/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/ja/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/ko/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/pl/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/pt-BR/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/ru/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/tr/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/zh-Hans/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows/zh-Hant/Microsoft.Data.SqlClient.resources.dll
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToP.682791F3.Up2Date
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.AssemblyInfo.cs
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.AssemblyInfoInputs.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.GeneratedMSBuildEditorConfig.editorconfig
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.GlobalUsings.g.cs
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.Properties.Resources.resources
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.assets.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.csproj.AssemblyReference.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.csproj.BuildWithSkipAnalyzers
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.csproj.CoreCompileInputs.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.csproj.FileListAbsolute.txt
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.csproj.GenerateResource.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.designer.deps.json
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.designer.runtimeconfig.json
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.dll
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.frmMain.resources
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.frmSuccess.resources
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.genruntimeconfig.cache
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.pdb
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/MsSqlToPostgres.sourcelink.json
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/TempPE/Properties.Resources.Designer.cs.dll
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/apphost.exe
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/ref/MsSqlToPostgres.dll
/MsSqlToPostgres/MsSqlToPostgres/obj/Debug/net8.0-windows/refint/MsSqlToPostgres.dll
/MsSqlToPostgres/MsSqlToPostgres/obj/MsSqlToPostgres.csproj.nuget.dgspec.json
/MsSqlToPostgres/MsSqlToPostgres/obj/MsSqlToPostgres.csproj.nuget.g.props
/MsSqlToPostgres/MsSqlToPostgres/obj/MsSqlToPostgres.csproj.nuget.g.targets
/MsSqlToPostgres/MsSqlToPostgres/obj/project.assets.json
/MsSqlToPostgres/MsSqlToPostgres/obj/project.nuget.cache
/MsSqlToPostgres/MsSqlToPostgres/bin/Debug/net8.0-windows
/MsSqlToPostgres/MsSqlToPostgres/Properties/PublishProfiles
/MsSqlToPostgres/MsSqlToPostgres/bin/Release/net8.0-windows
/MsSqlToPostgres/MsSqlToPostgres/obj/Release/net8.0-windows
/MsSqlToPostgres/MsSqlToPostgres/obj/publish/win-x64
/MsSqlToPostgres/MsSqlToPostgres/obj/publish/win-x86
